/* GOOGLE FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* LIGHT THEME VARIABLES */

:root {
	--main-theme-color: rgb(173, 216, 230);
	--dark-lightblue-accent: rgb(80, 199, 238);
	--white-color: rgb(255, 255, 255);
	--black-color: rgb(0, 0, 0);
	--gray-color: rgb(190, 190, 190);
	--dark-gray-accent: rgb(150, 150, 150);
	--yellow-color: rgb(255, 255, 0);
	--pink-color: rgb(255, 192, 203);
	--red-color: rgb(255, 0, 0);
	--green-color: rgb(0, 255, 0);
}

/* DARK THEME VARIABLES */

body.dark-theme {
	--main-theme-color: rgb(0, 0, 0);
	--light-black-color: rgb(30, 30, 30);
	--light-gray-accent: rgb(211, 211, 211);
	--dark-blue-color: rgb(143, 143, 251);
}

/* BASIC SETTINGS */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*:not(i) {
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: var(--main-theme-color);
}

/* DARK THEME STYLES */

body.dark-theme #theme-toggle-button,
body.dark-theme #favorite-words-button {
	background-color: var(--dark-blue-color);
}

body.dark-theme .search-block-wrapper {
	background-color: var(--light-black-color);
}

body.dark-theme .search-box input {
	border-color: var(--black-color);
	color: var(--white-color);
}

body.dark-theme .search-box button {
	background-color: var(--black-color);
	color: var(--white-color);
}

body.dark-theme .search-box button:hover {
	background-color: var(--white-color);
	color: var(--black-color);
}

body.dark-theme .search-result h3 {
	color: var(--white-color);
}

body.dark-theme .search-result button {
	color: var(--white-color);
}

body.dark-theme .word-details {
	color: var(--light-gray-accent);
}

body.dark-theme .word-meaning {
	color: var(--white-color);
}

body.dark-theme .word-example {
	color: var(--white-color);
	border-color: var(--white-color);
}

body.dark-theme .heart-button.favorite {
	color: var(--red-color);
}

body.dark-theme .heart-button:hover {
	color: var(--pink-color);
}

body.dark-theme .modal {
	background-color: rgba(0, 0, 0, 0.9);
}

body.dark-theme .modal-content {
	background-color: var(--light-black-color);
	color: var(--white-color);
}

body.dark-theme .modal-content li {
	border-bottom: 1px solid var(--white-color);
}

body.dark-theme .modal-content li button {
	color: var(--white-color);
}

body.dark-theme .modal-content li button:hover {
	color: var(--red-color);
}

body.dark-theme .favorite-word b {
	color: var(--white-color);
}

body.dark-theme #start-quiz-button {
	background-color: var(--dark-blue-color);
}

body.dark-theme .quiz-content {
	background-color: var(--light-black-color);
	color: var(--white-color);
}

body.dark-theme #next-card-button:hover {
	background-color: var(--white-color);
	color: var(--black-color);
}

body.dark-theme .quiz-card {
	border-color: var(--white-color);
}

/* LIGHT THEME STYLES */

#theme-toggle-button {
	background-color: var(--black-color);
	color: var(--yellow-color);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 4%;
	right: 2%;
	border: none;
	outline: none;
	font-size: 20px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	transition: 0.3s ease-out;
}

#theme-toggle-button:hover {
	box-shadow: 0 0 20px 5px var(--yellow-color);
}

#favorite-words-button {
	color: var(--red-color);
	background-color: var(--black-color);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 15%;
	right: 2%;
	border: none;
	outline: none;
	font-size: 20px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	transition: 0.3s ease-out;
}

#favorite-words-button:hover {
	box-shadow: 0 0 20px 5px var(--red-color);
}

#start-quiz-button {
	color: var(--green-color);
	background-color: var(--black-color);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 26%;
	right: 2%;
	border: none;
	outline: none;
	font-size: 20px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	transition: 0.3s ease-out;
}

#start-quiz-button:hover {
	box-shadow: 0 0 20px 5px var(--green-color);
}

/* SEARCH WORD STYLES */

.search-block-wrapper {
	background-color: var(--white-color);
	width: 90vmin;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.search-box input {
	padding: 5px;
	width: 70%;
	border: none;
	outline: none;
	border-bottom: 3px solid var(--main-theme-color);
	background-color: transparent;
	font-size: 16px;
}

.search-box button {
	cursor: pointer;
	padding: 15px 0;
	width: 25%;
	background-color: var(--main-theme-color);
	border: none;
	outline: none;
	color: var(--white-color);
	border-radius: 5px;
	transition: 0.2s ease-out;
	font-size: 15px;
	font-weight: 700;
}

.search-box button:hover {
	background-color: var(--dark-lightblue-accent);
}

/* SEARCH WORD RESULT STYLES */

.search-result {
	position: relative;
}

.word {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.word-control-panel {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.search-result h3 {
	font-size: 30px;
	color: var(--black-color);
}

.search-result button {
	cursor: pointer;
	background-color: transparent;
	color: var(--main-theme-color);
	border: none;
	outline: none;
	font-size: 20px;
}

.word-details {
	display: flex;
	gap: 15px;
	color: var(--gray-color);
	margin: 5px 0 20px 0;
	font-size: 14px;
}

.word-meaning {
	color: var(--dark-gray-accent);
	text-align: justify;
}

.word-example {
	color: var(--dark-gray-accent);
	font-style: italic;
	border-left: 5px solid var(--main-theme-color);
	padding-left: 20px;
	margin-top: 30px;
}

.search-error {
	margin-top: 50px;
	text-align: center;
}

.heart-button {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 20px;
	cursor: pointer;
	transition: 0.3s ease-out;
}

.heart-button.favorite {
	color: var(--red-color);
}

.heart-button:hover {
	color: var(--pink-color);
}

/* MODAL WINDOW STYLES */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--white-color);
	padding: 30px;
	width: 45%;
	border-radius: 10px;
	box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
	max-height: 75vmin;
	overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
	width: 0 !important;
	display: none !important;
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.close-button {
	color: var(--gray-color);
	font-size: 20px;
	cursor: pointer;
	transition: 0.2s ease-out;
}

.close-button:hover,
.close-button:focus {
	color: var(--red-color);
}

.modal-content h3 {
	text-transform: uppercase;
	font-size: 30px;
}

.modal-content ul {
	margin-top: 20px;
	list-style-type: none;
}

.modal-content li {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	border-bottom: 1px solid var(--main-theme-color);
}

.modal-content li:last-child {
	border-bottom: none;
}

.favorite-word {
	width: 85%;
	text-align: justify;
	color: var(--dark-gray-accent);
	font-style: italic;
}

.modal-content li button {
	background: none;
	border: none;
	color: var(--main-theme-color);
	cursor: pointer;
	font-size: 20px;
	transition: 0.2s ease-out;
}

.modal-content li button:hover {
	color: var(--red-color);
}

.favorite-list-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.no-favorites-message {
	border-bottom: none;
	text-align: center;
	font-size: 20px;
}

#quiz-card-container {
	display: flex !important;
	justify-content: center;
}

.quiz-card {
	cursor: pointer;
	width: 250px;
	height: 350px;
	background-color: var(--main-theme-color);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	position: relative;
	border: 2px solid var(--black-color);
	box-shadow: 0 15px 50px rgba(38, 33, 61, 0.2);
}

.quiz-card.flip {
	transform: rotateY(180deg);
}

.quiz-card-front,
.quiz-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

.quiz-card-back {
	transform: rotateY(180deg);
}

.quiz-control {
	display: flex;
	justify-content: center;
}

#next-card-button {
	padding: 10px 20px;
	background-color: var(--main-theme-color);
	border: none;
	opacity: none;
	color: var(--white-color);
	cursor: pointer;
	border-radius: 5px;
	transition: 0.3s ease-out;
	font-weight: 700;
}

#next-card-button:hover {
	background-color: var(--dark-lightblue-accent);
}

.repeat-counter {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	color: var(--black-color);
	text-align: center;
	font-size: 14px;
}

.completion-message {
	display: none;
	padding: 20px;
	background-color: var(--green-color);
	border-radius: 5px;
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
	color: var(--white-color);
}

.favorite-word-wrapper {
	display: flex;
	align-items: center;
	color: var(--black-color);
	font-style: normal;
	gap: 10px;
}

.favorite-word-wrapper b {
	text-transform: uppercase;
	font-size: 16px;
}

.quiz-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--white-color);
	padding: 30px;
	width: 45%;
	border-radius: 10px;
	box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
	max-height: 80vmin;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.quiz-content.complete {
	gap: 0;
}

.quiz-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.quiz-header h3 {
	text-transform: uppercase;
	font-size: 30px;
}
